.idea/
*.iml
.env
.env.local
node_modules

/backend/target
/backend/src/main/resources/static/**

frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/npm-debug.log*
frontend/*.local

/node_modules
/target

ausdruck/
